<!-- views/index.jade -->
 
extends layout
 
block content
  div(style='width:400px')
    h1= title
    p= location
    p Upload a picture of a head to get started!
 
    form(action='/'       method='post' enctype="multipart/form-data")
      input(type="file" name="userPhoto" accept="image/*" capture)
      input(type="submit" value="Upload Image" name="submit")

    img(src=image id=bobblehead)
  if (shorturl)
    ul(class="share-buttons")
        li
            a(href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F"+shorturl+"&t=My%20Azure%20Boblehead" title="Share on Facebook" target="_blank")
                img( src="images/flat_web_icon_set/color/Facebook.png")
        li
            a(href="https://twitter.com/intent/tweet?source=http%3A%2F%2F"+shorturl+"&text=My%20Azure%20Boblehead:%20http%3A%2F%2F"+shorturl target="_blank" title="Tweet")
                img( src="images/flat_web_icon_set/color/Twitter.png")
        li
            a(href="https://plus.google.com/share?url=http%3A%2F%2F"+shorturl target="_blank" title="Share on Google+")
                img( src="images/flat_web_icon_set/color/Google.png")
        li
            a(href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2F"+shorturl+"&title=My%20Azure%20Boblehead&summary=Check%20out%20the%20bobble%20head%20I%20created%20with%20Microsoft%20Azure.%20%23nationwidelovesazure&source=http%3A%2F%2F"+shorturl+"" target="_blank" title="Share on LinkedIn")
                img( src="images/flat_web_icon_set/color/LinkedIn.png")
        li
            a(href="mailto:?subject=My%20Azure%20Boblehead&body=Check%20out%20the%20bobble%20head%20I%20created%20with%20Microsoft%20Azure.%20%23nationwidelovesazure:%20http%3A%2F%2F"+shorturl target="_blank" title="Email")
                img( src="images/flat_web_icon_set/color/Email.png")

                